@import 'variables-mixins';

.main-collection {
  position: fixed;
  top: $header-height;
  left: 0;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - $header-height);
  z-index: -10;
  overflow: hidden;

  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.main-content {
  min-width: 100%;
  margin-top: calc(100vh - $header-height);
  background-color: white;
  padding: 0 $default-side-spacing * 3;
  padding-bottom: calc($header-height / 2);
  @media screen and (width < 1000px) {
    padding: 0 calc($default-side-spacing / 2);
    padding-bottom: calc($header-height / 2);
  }
  @media screen and (width < 600px) {
    padding-bottom: 3rem;
  }
}

@media screen and (width < 1000px) {
  .main-collection {
    height: 50vh;
  }

  .main-content {
    margin-top: 40vh;
  }
}

.main-collection-info {
  width: 100%;
  height: $header-height;
  @include center($horizontal: space-between);
  padding-top: 20px;

  .left-side {
    height: 50px;
  }
}

.main-collection-info-header {
  font-weight: 600;
  margin-bottom: 3px;
}

.main-collection-info-description {
  opacity: 70%;
}

.all-products-button {
  @include center;
  font-weight: 400;
  border: #8f8f8f 1px solid;
  height: 50px;
  background-color: white;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease, font-weight 0.5s ease;
  &:hover {
    background-color: #414141;
    color: white;
  }
  a {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
}

.gallery {
  width: 100%;
  max-width: 100%;
  columns: 3;
  column-gap: 20px;
  @media screen and (max-width: 1200px) {
    columns: 2;
  }
  @media screen and (max-width: 600px) {
    columns: 1;
  }
}

.gallery-item {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  break-inside: avoid;
  overflow: hidden;

  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    scale: 1;
    transition: scale 0.5s ease-out;
  }

  &:hover img {
    scale: 1.1;
  }
}

.gallery-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  margin: 5%;

  .name {
    font-size: clamp(1.2rem, 1.7vw, 1.5rem);
    font-weight: 500;
    text-transform: uppercase;
    @media screen and (max-width: 600px) {
      columns: 1;
    }
  }

  .categoty {
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    opacity: 80%;
    text-transform: uppercase;
  }
}
