{% with request.resolver_match.view_name as view_name %}
    <header>
        <div class="header-inside">
            <div class="logo cursor-link">
                <a href="{% url 'home' %}"><span>ter's</span> gallery</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'products' %}"
                           class="{% if view_name == 'products' %}nav-link-active{% endif %}">ПРОДУКТЫ</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}"
                           class="{% if view_name == 'about' %}nav-link-active{% endif %}">О НАС</a>
                    </li>
                    <li>
                        <a href="{%comment%}{% url 'projects' %}{%endcomment%}"
                           class="{% if view_name == 'projects' %}nav-link-active{% endif %}">ПРОЕКТЫ</a>
                    </li>
                    <li>
                        <a href="{% url 'contacts' %}"
                           class="{% if view_name == 'contacts' %}nav-link-active{% endif %}">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>
            <div id="mySidenav" class="sidenav sidenav-opacity">
                <a href="{% url 'products' %}"
                   class="{% if view_name == 'products' %}nav-link-active{% endif %}">ПРОДУКТЫ</a>
                <a href="{% url 'about' %}"
                   class="{% if view_name == 'about' %}nav-link-active{% endif %}">О НАС</a>
                <a href="{%comment%}{% url 'projects' %}{%endcomment%}"
                   class="{% if view_name == 'projects' %}nav-link-active{% endif %}">ПРОЕКТЫ</a>
                <a href="{% url 'contacts' %}"
                   class="{% if view_name == 'contacts' %}nav-link-active{% endif %}">КОНТАКТЫ</a>
            </div>
            <svg class="hamburger cursor-link"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 width="18"
                 height="18"
                 fill="none"
                 viewBox="0 0 25 25">
                <path d="M-10,5 L25,5" class="p1"></path>
                <path d="M-10,12.5 L25,12.5" class="p2"></path>
                <path d="M-10,20 L35,20" class="p3"></path>
            </svg>
        </div>
    </header>
{% endwith %}
