<header>
    <div class="header-inside">
        <div class="logo cursor-link">
            <a href="{% url 'home' %}"><span>ter's</span> gallery</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'products' %}">ПРОДУКТЫ</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">О НАС</a>
                </li>
                <li>
                    <a href="{%comment%}{% url 'projects' %}{%endcomment%}">ПРОЕКТЫ</a>
                </li>
                <li>
                    <a href="{% url 'contacts' %}">КОНТАКТЫ</a>
                </li>
            </ul>
        </nav>
        <div id="mySidenav" class="sidenav sidenav-opacity">
            <a href="{% url 'products' %}">ПРОДУКТЫ</a>
            <a href="{% url 'about' %}">О НАС</a>
            <a href="{%comment%}{% url 'projects' %}{%endcomment%}">ПРОЕКТЫ</a>
            <a href="{% url 'contacts' %}">КОНТАКТЫ</a>
        </div>
        <svg class="hamburger cursor-link"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             width="25"
             height="25"
             fill="none"
             viewBox="0 0 25 25">
            <path d="M-10,5 L25,5" class="p1"></path>
            <path d="M-10,12.5 L25,12.5" class="p2"></path>
            <path d="M-10,20 L35,20" class="p3"></path>
        </svg>
    </div>
</header>
