{% extends 'base.html' %}
{% load static %}
{% block title %}О нас - ter's gallery{% endblock %}
{% block meta_description %}
  Узнайте больше о ter's gallery: наша идеология, используемые материалы и производственный процесс. Мы создаем высококачественные изделия, используя лучшие материалы и передовые технологии.
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'styles/about.css' %}" />
{% endblock %}
{% block content %}
  <div class="main-container">
    <div class="about-text">
      <div class="about-title about-firstly-font-weight">О НАС</div>
      <div class="about-links">
        <div>
          <a onclick="scrollWithOffset('ideology')">ИДЕОЛОГИЯ</a>
        </div>
        <div>
          <a onclick="scrollWithOffset('materials')">МАТЕРИАЛЫ</a>
        </div>
        <div>
          <a onclick="scrollWithOffset('production')">ПРОИЗВОДСТВО</a>
        </div>
      </div>
    </div>
    <div class="about-image">
      <img src="{% static 'public/carpenter.webp' %}" alt="about img" />
    </div>
  </div>
  <hr />
  <div class="about-main-content-container">
    <div id="ideology" class="content-text">
      TER’S - производитель мебели и предметов интерьера, главная цель
      которого - создавать предметы для многообразного и насыщенного
      пространства, интегрированные в современный контекст.
      Мы стремимся воплощать принципы архитектуры, продумывая пропорции,
      исследуя тему модульности и стремясь к чистоте формы. Различные
      материалы в наших объектах получают новое прочтение с помощью
      цвета, фактуры, рисунка и процесса изготовления, сохраняя баланс
      между скульптурой и тактильной домашней мебелью.
      <br>
      <br>
      Мы следим за мировыми трендами в дизайне и
      архитектуре, чтобы наши изделия всегда оставались на пике
      актуальности. Наши дизайнеры и мастера работают в тесном
      сотрудничестве, чтобы каждая деталь была безупречной.
      <br>
      <br>
        TER’S - это больше, чем просто мебель. Это искусство, в
        котором каждый элемент продуман до мелочей, чтобы создать
        гармоничное и насыщенное пространство для жизни - OBJECTS.
        Традиционно, предметы интерьера, будь то стул, стол или книжная
        полка, обладают собственным уникальным набором элементов,
        характерным образом и значением в доме. В коллекции OBJECTS
        мы стремились проявить эту совокупность качеств каждого из них в
        виде минималистской модели.
        Коллекция объединяет предметный дизайн и архитектуру, с ее
        порядком, ритмом, пропорциями, системой знаков и символов.
    </div>
    <hr />
    <div id="materials" class="content-text">
      Наша любовь к материалам формирует основу многих наших проектов.
      Мы постоянно ищем новые способы продемонстрировать естественную
      красоту наших материалов и стремимся позволить материалам говорить
      сами за себя, ничего не скрывая. Методы, которые мы используем дл
      я создания наших объектов, то, как материалы стареют с течением
      времени, и тактильные ощущения, которые они обеспечивают — все
      это сознательное решение с нашей стороны.
    </div>
    <div class="materials-grid">
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/materials/WOOD.jpg' %}" alt="Материал" />
        </div>
        <div class="material-title">дерево</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/materials/metall.jpg' %}" alt="Материал" />
        </div>
        <div class="material-title">металл</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/materials/GLASS.JPG' %}" alt="Материал" />
        </div>
        <div class="material-title">стекло</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/materials/TEXTILE.jpg' %}" alt="Материал" />
        </div>
        <div class="material-title">ткань</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/materials/LEATHER.JPG' %}" alt="Материал" />
        </div>
        <div class="material-title">кожа</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/materials/STONE.jpg' %}" alt="Материал" />
        </div>
        <div class="material-title">камень</div>
      </div>
    </div>
    <hr />
    <div id="production" class="content-text">
      Наши мастера используют традиционные ручные методы работы с
      материалом, включающие резку, шлифовку, полировку и нанесение
      декоративных слоев, которые подчеркивают естественную красоту и
      индивидуальность каждого изделия.
    </div>
    <div class="production-img">
      <img src="{% static 'public/production.webp' %}" alt="Производство" />
    </div>
  </div>
{% endblock %}
