$default-side-spacing: 2rem;
$header-height: 14vh;
$default-line-color: #e2e2e2;
$font-secondary: #a6a6a6;
$header-footer-font-size: clamp(0.75rem, 0.75vw, 1rem);
$header-footer-h1-size: clamp(0.85rem, 0.75vw, 1.2rem);
$filters-font-size: clamp(0.65rem, 0.75vw, 1rem);
$filters-label-font-size: clamp(0.75rem, 0.75vw, 1rem);
$product-name-price-font-size: clamp(0.9rem, 1vw, 1.2rem);
$product-title-font-size: clamp(0.75rem, 0.75vw, 1rem);
$logo-font-size: clamp(0.95rem, 2vw, 1.1rem);

@mixin center($vertical: center, $horizontal: center) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}
