@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$default-side-spacing: 2rem;
$header-height: 6rem;

@mixin center($horizontal: center, $vertical: center) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border: 2px solid #f1f1f1;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }

  cursor: none;
}

body {
  font-family: 'Inter', Arial, sans-serif;
}

.custom-cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, transform 0.2s ease,
    opacity 0.5s ease;
  z-index: 9999;
}

.custom-cursor.pointer {
  width: 18px;
  height: 18px;
  opacity: 70%;
}

.custom-cursor.hidden {
  width: 0;
  height: 0;
  opacity: 0;
}

header {
  z-index: 1000;
  width: 100%;
  @include center();
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: #e2e2e2 solid 1px;
}

.header-inside {
  width: 100%;
  max-width: 1250px;
  @include center();
  justify-content: space-between;
  margin-right: $default-side-spacing * 3;
  margin-left: $default-side-spacing * 3;
  @media screen and (width < 500px) {
    margin-right: $default-side-spacing * 2;
    margin-left: $default-side-spacing * 2;
  }
  height: $header-height;
}

.logo {
  font-size: 25px;
  font-weight: 300;
  span {
    font-weight: 800;
  }
}

nav {
  ul {
    list-style: none;
    display: flex;
  }
  li {
    opacity: 50%;
    margin-left: 3rem;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 90%;
    }
  }
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

main {
  @include center();
  .gallery {
    margin: 0 $default-side-spacing;
    @media screen and (width < 500px) {
      margin: 0 $default-side-spacing / 2;
    }
    max-width: 1400px;
    columns: 3;
    column-gap: 20px;
    @media screen and (max-width: 1200px) {
      columns: 2;
    }
    .gallery-item {
      width: 100%;
      margin-bottom: 20px;
      break-inside: avoid;
      img {
        width: 100%;
        max-width: 100%;
        transition: scale 0.5s ease;
        &:hover {
          scale: 99%;
        }
      }
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: -1;
  top: $header-height;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  border-top: #e2e2e2 solid 1px;
}

.sidenav a {
  display: table;
  margin-left: $default-side-spacing * 3;
  margin-top: 2rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: #818181;
  transition: opacity 0.5s ease;
}

.sidenav a:hover {
  opacity: 50%;
}

.hamburger {
  @media screen and (width > 1200px) {
    display: none;
  }
  transition: opacity 0.5s ease;
}

.hamburger:hover {
  opacity: 60%;
}

.hamburger path {
  stroke: currentcolor;
  transition: all 0.4s;
  stroke-width: 1.8;
  transform: rotate(0) scaleX(1);
  transform-origin: center;
  opacity: 1;
}

.sideMenuOpen .hamburger .p1 {
  transform: rotate(-45deg) translate(5px, 7.5px);
}

.sideMenuOpen .hamburger .p2 {
  transform: rotate(0) scaleY(0);
}

.sideMenuOpen .hamburger .p3 {
  transform: rotate(45deg) translate(-5px, -7.5px);
}

//
//

swiper-container {
  width: 50%;
  height: auto;
  max-height: 500px;
  margin: 0 auto;
}

swiper-slide {
  @include center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-left: white solid 1px;
  border-right: white solid 1px;
}
