@import 'variables-mixins';

main {
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: $default-side-spacing * 1.5;
  margin: 0 $default-side-spacing * 3;
  margin-bottom: $default-side-spacing * 1.5;
}

.contact-image {
  display: flex;
  flex-grow: 1;
  height: fit-content;
  max-height: 80vh;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.contact-text {
  min-width: fit-content;
}

.contact-text > div {
  margin-bottom: 0.5rem;
}

$contact-elem-margin-bottom: 3rem;

.contact-title {
  margin-bottom: $contact-elem-margin-bottom / 2 !important;
  line-height: 0.9;
}

.contact-firstly-font-weight {
  font-weight: 550;
}

.contact-secondary-opacity {
  opacity: 0.8;
}

.company-address-country {
  margin-bottom: $contact-elem-margin-bottom !important;
}

.company-tel {
  margin-bottom: 3 * $contact-elem-margin-bottom !important;
}

.company-open-time .hours {
  margin-left: 47px;
}

.addresses {
  display: flex;
  justify-content: space-around;

  margin: calc($header-height / 2) 0;

  .address {
    @include center;
    flex-direction: column;
    gap: 0.5rem;

    span {
      text-transform: uppercase;
    }

    .city {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .street,
    .country {
      opacity: 0.5;
    }

    .tel-number,
    .working-hours {
      opacity: 0.7;
      font-weight: 500;
    }

    .working-hours span {
      margin-right: 10px;
    }
  }
}

@media screen and (width < 1000px) {
  main {
    margin-bottom: calc($header-height / 2);
  }

  .main-container {
    margin: 0 calc($default-side-spacing / 2);
    flex-direction: column;
  }

  .company-tel {
    margin-bottom: $contact-elem-margin-bottom !important;
  }
}
