@import 'variables-mixins';

.main-container {
  margin: 0 $default-side-spacing * 3;
  margin-bottom: calc($header-height / 2);
  @media screen and (width < 1000px) {
    margin: 0 calc($default-side-spacing / 2);
    margin-bottom: calc($header-height / 2);
  }
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: $default-side-spacing * 2;
}

.product-gallery {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.product-info {
  position: -webkit-sticky;
  position: sticky;
  align-self: start;
  top: $header-height;
}

.product-name,
.product-type,
.product-description,
.product-characteristic-block {
  padding: 1.2rem 0;
}

.product-name {
  padding: 0;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.product-type {
  font-size: 1.2rem;
  opacity: 0.6;
  text-transform: uppercase;
}

.product-description {
  border-top: $default-line-color 1px solid;
  line-height: 200%;
}

.product-characteristic-block {
  border-top: $default-line-color 1px solid;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .title {
    font-size: 1.05rem;
    font-weight: 500;
  }
  .product-characteristic {
    opacity: 0.6;
  }
}

.product-price {
  display: flex;
  align-items: end;
  span {
    opacity: 1;
    font-weight: 600;
  }
}

//small screen

swiper-container {
  height: 100vh;
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
  --swiper-theme-color: black;
}

swiper-slide {
  @include center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
