$default-side-spacing: 2rem;
$header-height: 8rem;
$default-line-color: #e2e2e2;
$font-secondary: #a6a6a6;

@mixin center($vertical: center, $horizontal: center) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}
