{% extends 'base.html' %}
{% load static %}
{% block title %}О нас - ter's gallery{% endblock %}
{% block meta_description %}
  Узнайте больше о ter's gallery: наша идеология, используемые материалы и производственный процесс. Мы создаем высококачественные изделия, используя лучшие материалы и передовые технологии.
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'styles/about-styles.css' %}" />
{% endblock %}
{% block content %}
  <div class="main-container">
    <div class="about-text">
      <div class="about-title about-firstly-font-weight">О НАС</div>
      <div class="about-links">
        <div>
          <a onclick="scrollWithOffset('ideology')">ИДЕОЛОГИЯ</a>
        </div>
        <div>
          <a onclick="scrollWithOffset('materials')">МАТЕРИАЛЫ</a>
        </div>
        <div>
          <a onclick="scrollWithOffset('production')">ПРОИЗВОДСТВО</a>
        </div>
      </div>
    </div>
    <div class="about-image">
      <img src="{% static 'public/carpenter.webp' %}" alt="about img" />
    </div>
  </div>
  <hr />
  <div class="about-main-content-container">
    <div id="ideology" class="content-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      facilisis aliquet dolor, quis ultricies felis hendrerit sit amet.
      Nullam suscipit fermentum neque commodo dignissim. Suspendisse feugiat
      lorem quis ex hendrerit vulputate. Quisque eleifend nunc sit amet mi
      venenatis cursus. Cras egestas ac leo pulvinar fringilla. Ut tellus
      mauris, volutpat at lobortis sed, ultrices sit amet metus. Praesent
      vel lorem vehicula, accumsan purus nec, interdum libero. Integer
      iaculis consequat elementum. Proin aliquet semper dui et sodales.
      <br />
      <br />
      Ut sed lectus ligula. Proin eget ornare urna. Sed rhoncus
      tincidunt turpis, non consectetur dui mollis nec. Nam sagittis
      ultrices risus sed facilisis. Donec tincidunt consequat lacus, quis
      tincidunt nunc viverra et. Etiam pharetra vitae sem vitae consequat.
      Nulla congue rutrum mattis. Nunc at vulputate mauris. Sed cursus
      faucibus bibendum. Nullam tortor sem, facilisis eu pharetra at,
      dapibus nec leo. Sed iaculis consequat ipsum sit amet dapibus. Donec
      ante diam, iaculis a congue vitae, rhoncus ac ipsum.
    </div>
    <hr />
    <div id="materials" class="content-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non eaque
      impedit praesentium ullam hic reprehenderit autem, odio, cum accusamus
      quas voluptate enim aliquid cupiditate nisi laboriosam. Ipsa aut
      blanditiis animi.
    </div>
    <div class="materials-grid">
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/POLYETHYLENE.webp' %}" alt="Материал" />
        </div>
        <div class="material-title">polyethylene</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/LEATHER.webp' %}" alt="Материал" />
        </div>
        <div class="material-title">leather</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/BRASS.webp' %}" alt="Материал" />
        </div>
        <div class="material-title">brass</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/STEEL.webp' %}" alt="Материал" />
        </div>
        <div class="material-title">steel</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/MARBLE.webp' %}" alt="Материал" />
        </div>
        <div class="material-title">marble</div>
      </div>
      <div class="grid-element">
        <div class="material-img">
          <img src="{% static 'public/ENAMEL.webp' %}" alt="Материал" />
        </div>
        <div class="material-title">enamel</div>
      </div>
    </div>
    <hr />
    <div id="production" class="content-text">
      Ut sed lectus ligula. Proin eget ornare urna. Sed rhoncus tincidunt
      turpis, non consectetur dui mollis nec. Nam sagittis ultrices risus
      sed facilisis. Donec tincidunt consequat lacus, quis tincidunt nunc
      viverra et. Etiam pharetra vitae sem vitae consequat. Nulla congue
      rutrum mattis. Nunc at vulputate mauris. Sed cursus faucibus bibendum.
      Nullam tortor sem, facilisis eu pharetra at, dapibus nec leo. Sed
      iaculis consequat ipsum sit amet dapibus. Donec ante diam, iaculis a
      congue vitae, rhoncus ac ipsum.
    </div>
    <div class="production-img">
      <img src="{% static 'public/production.webp' %}" alt="Производство" />
    </div>
  </div>
{% endblock %}
