{% extends 'base.html' %}
{% load static %}
{% block title %}Контакты - ter's gallery{% endblock %}
{% block meta_description %}
  ter's gallery: Контактная информация, включая адреса, телефон, e-mail и время работы. Найдите нас в Апрелевке, Москве и Одинцово. Свяжитесь с нами для получения дополнительной информации.
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'styles/contact-styles.css' %}" />
{% endblock %}
{% block content %}
  <div class="main-container">
    <div class="contact-image">
      <img src="{% static 'public/contact.webp' %}" alt="Contact img" />
    </div>
    <div class="contact-text">
      <div class="contact-title contact-firstly-font-weight">КОНТАКТЫ</div>
      <div class="company-title contact-firstly-font-weight">ter's gallery</div>
      <div class="company-address-street contact-secondary-opacity">Сентябрьская 12</div>
      <div class="company-address-town contact-secondary-opacity">Апрелевка</div>
      <div class="company-address-country contact-secondary-opacity">Россия</div>
      <div class="company-email">
        <span class="contact-firstly-font-weight">e-mail</span>
        <a class="contact-secondary-opacity" href="mailto:info@tersgallery.com">info@tersgallery.com</a>
      </div>
      <div class="company-tel">
        <span class="contact-firstly-font-weight">tel</span>
        <a class="contact-secondary-opacity" href="tel:+79299696699">+7 (929) 969-66-99</a>
      </div>
      <div class="company-open-time">
        <span class="days contact-secondary-opacity">ПН | ПТ</span>
        <span class="hours contact-firstly-font-weight">11:00 - 19:00</span>
      </div>
    </div>
  </div>
  <hr />
  <div class="addresses">
    <div class="address">
      <span class="city">Апрелевка</span>
      <span class="street">Сентябрьская 12</span>
      <span class="country">Россия</span>
      <span class="tel-number">+7 (929) 969-66-99</span>
      <span class="working-hours"><span>ПН | ПТ</span> 11:00 - 19:00</span>
    </div>
    <div class="address">
      <span class="city">Москва</span>
      <span class="street">Боровская 58</span>
      <span class="country">Россия</span>
      <span class="tel-number">+7 (929) 969-66-99</span>
      <span class="working-hours"><span>ПН | ПТ</span> 11:00 - 19:00</span>
    </div>
    <div class="address">
      <span class="city">Одинцово</span>
      <span class="street">Садовая 44</span>
      <span class="country">Россия</span>
      <span class="tel-number">+7 (929) 969-66-99</span>
      <span class="working-hours"><span>ПН | ПТ</span> 11:00 - 19:00</span>
    </div>
  </div>
{% endblock %}
