{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }} - ter's gallery{% endblock %}
{% block meta_description %}
  Детальный просмотр продукта {{ product.name }}. Узнайте больше о {{ product.title }} из {{ product.materials.all|join:", " }}, его характеристиках, материалах, годе выпуска и цене. Ter's gallery предлагает уникальные предметы мебели высокого качества.
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'styles/detail.css' %}" />
{% endblock %}
{% block content %}
  <div class="main-container">
    <swiper-container loop="true" navigation="true" init="false">
    {% for image in product.images.all %}
      <swiper-slide>
      <img src="{{ image.image.url }}" />
      </swiper-slide>
    {% endfor %}
    </swiper-container>
    <div class="product-gallery">
      {% for image in product.images.all %}<img src="{{ image.image.url }}" />{% endfor %}
    </div>
    <div class="product-info">
      <div class="product-name">{{ product.name }}</div>
      <div class="product-type">{{ product.title }}</div>
      <div class="product-description">{{ product.description }}</div>
      <div class="product-characteristic-block">
        <span class="title">МАТЕРИАЛЫ</span>
        <span class="product-characteristic">{{ product.materials.all|join:", " }}</span>
      </div>
      <div class="product-characteristic-block">
        <span class="title">ГОД</span>
        <span class="product-characteristic">{{ product.year_created }}</span>
      </div>
      <div class="product-characteristic-block">
        <span class="title">РАЗМЕР</span>
        <span class="product-characteristic">{{ product.size }}</span>
      </div>
      <div class="product-characteristic-block product-price">
        <span>${{ product.price }}</span>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <script>
  const swiperEl = document.querySelector('swiper-container');
  const params = {
    injectStylesUrls: ['{% static "styles/swiper-shadow-elems.css" %}'],
    pagination: {
      clickable: true,
    },
    slidesPerView: 'auto',
    autoHeight: true,
  };
  Object.assign(swiperEl, params);
  swiperEl.initialize();
  </script>
{% endblock %}
