{% extends 'base.html' %}
{% load static %}
{% block meta_description %}
  Добро пожаловать на главную страницу ter's gallery. Ознакомьтесь с нашей коллекцией Mid Century XXI, включающей уникальные стулья, журнальные столики и другие предметы мебели. Свяжитесь с нами для получения дополнительной информации.
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'styles/index-styles.css' %}" />
{% endblock %}
{% block title %}Главная - ter's gallery{% endblock %}
{% block content %}
  <div class="main-collection">
    {% if collection %}<img src="{{ collection.main_image.url }}" alt="{{ collection.name }}" />{% endif %}
  </div>
  <div class="main-content">
    <div class="main-collection-info">
      <div class="left-side">
        <div class="main-collection-info-header">КОЛЛЕКЦИЯ</div>
        <div class="main-collection-info-description">{{ collection.name }}</div>
      </div>
      <div class="all-products-button cursor-link">
        <a href="{% url 'products' %}">ВСЕ ПРОДУКТЫ</a>
      </div>
    </div>
    <div class="gallery">
      {% for product in products %}
        <a href="{% url 'product_detail' product.id %}" class="gallery-item">
          <img src="{{ product.main_image.image.url }}" alt="{{ product.name }}" />
          <div class="gallery-item-info">
            <div class="name">{{ product.name }}</div>
            <div class="categoty">{{ product.title }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
