{% extends 'base.html' %}
{% load static %}
{% block title %}Продукты - ter's gallery{% endblock %}
{% block meta_description %}
  Ознакомьтесь с ассортиментом продукции ter's gallery. Выберите из широкого ассортимента мебели, включая стулья, журнальные столики и другие предметы интерьера. Используйте фильтры для поиска по категориям, материалам, цветам и ценам.
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'styles/products.css' %}" />
{% endblock %}
{% block content %}
  {% verbatim %}
    <div id="app" class="main-container" v-cloak>
      <div class="filters">
        <div class="filter-container">
          <div class="filter-icon cursor-link">ФИЛЬТРЫ</div>
          <div class="filter-item">
            <button class="dropbtn hidden cursor-link">КАТЕГОРИИ</button>
            <div class="dropdown-content">
              <a v-for="category in categories" :key="category.id">
                <label :for="category.name">{{ category.name }}</label>
                <input type="checkbox"
                       :id="category.name"
                       :value="category.name"
                       v-model="selectedCategories" />
              </a>
            </div>
          </div>
          <div class="filter-item">
            <button class="dropbtn hidden cursor-link">МАТЕРИАЛЫ</button>
            <div class="dropdown-content">
              <a v-for="material in materials" :key="material.id">
                <label :for="material.name">{{ material.name }}</label>
                <input type="checkbox"
                       :id="material.name"
                       :value="material.name"
                       v-model="selectedMaterials" />
              </a>
            </div>
          </div>
          <div class="filter-item">
            <button class="dropbtn hidden cursor-link">ЦВЕТ</button>
            <div class="dropdown-content">
              <a v-for="color in colors" :key="color.id">
                <label :for="color.name">{{ color.name }}</label>
                <input type="checkbox"
                       :id="color.name"
                       :value="color.name"
                       v-model="selectedColors" />
              </a>
            </div>
          </div>
          <div class="filter-item">
            <button class="dropbtn hidden cursor-link">ЦЕНА</button>
            <div class="dropdown-content price-filter">
              <div class="track-container">
                <span class="range-value min">$
                  {{ minValue }}
                </span>
                <span class="range-value max">$
                  {{ maxValue }}
                </span>
                <a class="track" ref="_vpcTrack"></a>
                <a class="track-highlight" ref="trackHighlight"></a>
                <a class="track-btn track1-placeholder"></a>
                <a class="track-btn track1" ref="track1"></a>
                <a class="track-btn track2" ref="track2"></a>
                <a class="track-btn track2-placeholder"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <transition>
      <div class="selected-filters-container collapsible-content"
           v-if="combinedSelections.length">
        <div class="selected-filters">
          <div class="selected-item"
               v-for="(selection, id) in combinedSelections"
               :key="id"
               @click="removeFilter(id)">
            {{ selection.str ? selection.str : '' }}{{ selection.value }}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-x"
                 viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
          </div>
        </div>
        <div class="clear-filters" @click="clearFilters()">ОЧИСТИТЬ</div>
      </div>
      </transition>
      <div class="main-products">
        <transition-group tag="div" name="list" class="main-grid">
        <a v-for="product in filteredProducts"
           :key="product.id"
           class="product-container"
           :href="'/products/' + product.id + '/'">
          <img :src="product.main_image.image" />
          <div class="product-info">
            <div class="product-description">
              <div class="product-name">{{ product.name }}</div>
              <div class="product-title">{{ product.title }}</div>
            </div>
            <div class="product-price">${{ product.price }}</div>
          </div>
        </a>
        </transition-group>
      </div>
    </div>
  {% endverbatim %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'disclosure.js' %}"></script>
  <script type="module" src="{% static 'product-page-app.js' %}"></script>
{% endblock %}
