@import 'variables-mixins';

main {
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $default-side-spacing * 1.5;
  margin: 0 $default-side-spacing * 3;
  margin-bottom: $default-side-spacing * 1.5;
  height: calc(100vh - 11rem);
}

.about-image {
  @include center;
  flex-grow: 1;
  height: fit-content;
  width: 60%;

  img {
    width: 100%;
    object-fit: cover;
    max-height: 55vh;
    aspect-ratio: 16/9;
  }
}

.about-text {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  margin-bottom: 5rem;
  font-size: 1.3rem;
}

.about-firstly-font-weight {
  font-weight: 500;
}

.about-links {
  div {
    margin-bottom: 1rem;

    a {
      opacity: 0.7;
      transition: opacity 0.3s;
    }

    a:hover {
      opacity: 1;
    }
  }
}

.about-main-content-container {
  padding: 0 $default-side-spacing * 3;
}

.content-text {
  color: rgb(151, 151, 151);
  margin: 2rem 0;
}

.materials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin: 2rem 0;
}

.material-img,
.production-img {
  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    max-height: 40vh;
  }
}

.material-title {
  font-size: 1.3rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.production-img {
  margin-bottom: 3rem;
}

@media screen and (width < 1000px) {
  $links-gap: 8px;
  .main-container {
    margin: 4rem calc($default-side-spacing / 2) 3rem;
    flex-direction: column;
    align-items: start;
    height: auto;
    gap: calc(3rem - $links-gap);
  }

  .about-main-content-container {
    padding: 0 calc($default-side-spacing / 2);
  }

  .about-title {
    margin-bottom: 4rem;
    font-size: 110%;
  }

  .about-text {
    width: auto;
  }

  .about-image {
    width: 100%;
  }

  .about-links {
    div {
      font-size: 0.9rem;
      margin-bottom: $links-gap;
    }
  }

  .materials-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    margin: 2rem 0;
  }
}

@media screen and (width < 500px) {
  .materials-grid {
    grid-template-columns: 1fr;
  }
}
